@import "compass/css3";

$images-settings-spacing: 5px;
$images-settings-position: 5px;
$images-socialshareprivacy_info-spacing: 5px;
$images-socialshareprivacy_info-position: 5px;
@import "images/*.png";

$text-color: #000;
$background-color: #fdfbec;
$bg-color-info: #f3f4f5;
$gplus-ord: false;
$facebook-en: false;

$border-info: 1px solid #ccc;
$border-icon: 2px solid #e7e3e3;

.social_share_privacy_area {
	clear: both;
	margin: 20px 0 !important;
	list-style-type: none;
	padding: 0 !important;
	width: auto;
	height: 25px;
	display: block;
	li {
		margin: 0 !important;
		padding: 0 !important;
		height: 21px;
		float: left;
		.dummy_btn {
			float: left;
			margin: 0 0 0 10px;
			cursor: pointer;
			padding: 0;
			height: inherit;
		}
		div iframe {
			overflow: hidden;
			height: inherit;
			width: inherit;
		}
	}
	.facebook {
		width: 180px;
		display: inline-block;
		.fb_like iframe {
			width: 145px;
		}
		.fb_like span {
			display: inline-block;
			@if $facebook-en {
				height: images-sprite-height(dummy_facebook_en);
				width: images-sprite-width(dummy_facebook_en);
				@include images-sprite(dummy_facebook_en);
			} @else {
				height: images-sprite-height(dummy_facebook);
				width: images-sprite-width(dummy_facebook);
				@include images-sprite(dummy_facebook);
			}
		}
	}
	.twitter {
		width: 148px;
		.tweet {
			width: 115px;
		}
		.tweet span {
			display: inline-block;
			height: images-sprite-height(dummy_twitter);
			width: images-sprite-width(dummy_twitter);
			@include images-sprite(dummy_twitter);
		}
	}
	.gplus {
		width: 123px;
		.gplusone {
			width: 90px;
		}
		.gplusone span {
			display: inline-block;
			@if $gplus-ord {
				height: images-sprite-height(dummy_gplus_alt);
				width: images-sprite-width(dummy_gplus_alt);
				@include images-sprite(dummy_gplus_alt);
			} @else {
				height: images-sprite-height(dummy_gplus);
				width: images-sprite-width(dummy_gplus);
				@include images-sprite(dummy_gplus);
			}
		}
		
	}
	li {
		.switch {
			display: inline-block;
			text-indent: -9999em;
			height: images-sprite-height(socialshareprivacy_off);
			width: images-sprite-width(socialshareprivacy_off);
			@include images-sprite(socialshareprivacy_off);
			overflow: hidden;
			float: left;
			margin: 4px 0 0;
			padding: 0;
			cursor: pointer;
			&.on {
				@include images-sprite(socialshareprivacy_on);
			}
		}
		&.help_info {
			position: relative;
			.info {
				display: none;
				position: absolute;
				bottom: 40px;
				left: 0;
				width: 290px;
				padding: 10px 15px;
				margin: 0;
				font-size: 12px;
				line-height: 16px;
				font-weight: bold;
				border: $border-info;
				@include border-radius(4px);
				@include box-shadow(0 3px 4px #999);
				background-color: $background-color;
				color: $text-color;
				z-index: 500;
			}
		}
		.help_info.icon .info {
			display: none;
			position: absolute;
			bottom: 40px;
			left: 0;
			width: 290px;
			padding: 10px 15px;
			margin: 0;
			font-size: 12px;
			line-height: 16px;
			font-weight: bold;
			border: $border-info;
			@include border-radius(4px);
			@include box-shadow(0 3px 4px #999);
			background-color: $background-color;
			color: $text-color;
			z-index: 500;
		}
		&.gplus.help_info .info {
			left: -60px;
		}
		.help_info.icon .info {
			left: -243px;
			width: 350px;
		}
		&.help_info.display .info, .help_info.icon.display .info {
			display: block;
		}
		&.help_info.info_off.display .info {
			display: none;
		}
		.help_info.icon {
			@include images-sprite(socialshareprivacy_info,false,5px,2px);
			background-color: $bg-color-info;
			width: 25px;
			height: 20px;
			position: relative;
			display: inline-block;
			vertical-align: top;
			border: $border-icon;
			border-right-width: 0;
			@include border-radius(5px 0 0 5px);
			margin: 0;
			padding: 0;
		}
		&.settings_info {
			.settings_info_menu {
				&.on .help_info.icon {
					border-top-width: 0;
					border-left-width: 0;
				}
				&.perma_option_off .help_info.icon {
					border-right-width: 2px;
					@include border-radius(5px);
				}
			}
			position: relative;
			top: -2px;
			a {
				text-decoration: none;
				margin: 0 !important;
			}
			.settings_info_menu {
				background-color: $bg-color-info;
				border: $border-icon;
				@include border-radius(5px);
				@include box-shadow(2px 2px 3px #c1c1c1);
				left: 0;
				position: absolute;
				top: 0;
				width: 135px;
				z-index: 1000;
				margin: 0;
				padding: 0;
				&.off {
					border-width: 0;
					@include box-shadow(none);
					background-color: transparent;
					form {
						display: none;
						margin: 0;
						padding: 0;
					}
				}
				.settings {
					text-indent: -9999em;
					display: inline-block;
					@include images-sprite(settings,false,5px,2px);
					background-color: $bg-color-info;
					width: 25px;
					height: 20px;
					border: $border-icon;
					@include border-radius(0 5px 5px 0);
					border-left: 1px solid #ddd;
					margin: 0;
					padding: 0;
				}
				&.on .settings {
					border-top-width: 0;
				}
				form fieldset {
					border-width: 0;
					margin: 0;
					padding: 0 10px 10px;
					legend {
						font-size: 11px;
						font-weight: bold;
						line-height: 14px;
						margin: 0;
						padding: 10px 0;
						width: 115px;
					}
					input {
						clear: both;
						float: left;
						margin: 4px 10px 4px 0;
						padding: 0;
					}
					label {
						display: inline-block;
						float: left;
						font-size: 12px;
						font-weight: bold;
						line-height: 24px;
						@include transition(color .5s ease-in);
						margin: 0;
						padding: 0;
						&.checked {
							color: #090;
						}
					}
				}
			}
		}
	}
}
